#Logo{
    }
    body{
    background-color: #8e929857;
    }
    #total-orders{
    background-color: #4cb4c7;
    }
    #orders-delivered{
    background-color: #64a4af;
    }
    #orders-pending{
    background-color: #477b85;
    }

.box {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}
