{% extends 'base.html' %}
{% block content %}
<h1>About</h1>
<br/>
<h2 style="color: rgb(4, 4, 7); font-size: 30px;">UI Design</h2>
<div class="row">
    <div class="col">
        <div class="leftside">
            <p>The website is a part of the thesis work being carried out at Wien Work, in order to improve inclusive UI designs. The UI involves User Cenetered Design and is based on the Web Content Accessability Guideline and feedbacks from the workers.</p>
        </div>
    </div>
    <div class="col">
        <div class="rightside">
            <img src="/Images/inclusivity.webp" alt="Image 1" class="image">
        </div>
    </div>
</div>
{% endblock %}