{% extends 'base.html' %}
{% load i18n %}
{% block content %}


<div class="col-md-6 offset-md-3">
    <h1 class="text-center">{% trans "Add Order Details" %}</h1>
    <br/>

<form action="{% url 'add_OrderDetails' %}" method="POST">
    {% csrf_token %}
    {{ order_form.order_num }}<br/>
    {{ order_form.customer_num }}<br/>
    {{ order_form.description }}<br/>
    {{ order_form.status }}<br/>
    <button type="submit" class="btn btn-primary">{% trans "Add Details" %}</button>
</form>
</div>
{% endblock %}
