{% extends 'base.html' %}
{% block content %}
<h1 class="text-center">Customer Details</h1>
<br/>

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><strong>{{customer_num.first_name}} {{customer_num.last_name}}</strong></h5>
      <p class="card-text">{{customer_num.contact}}<br/>{{customer_num.email}}<br/></p>
    </div>
  </div>
  <br/>
  <a href="{% url 'home' %}" class="btn btn-primary"> Home </a>
  <a href="{% url 'delete_CustomerDetails' customer_num.id %}" class="btn btn-danger"> Delete </a>
  <a href="{% url 'update_CustomerDetails' customer_num.id %}" class="btn btn-primary"> Update Record </a>
{% endblock %}