{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<h1 class="text-center">Customer Detail</h1>
<br/>

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><strong>{{ customer_num.first_name }} {{ customer_num.last_name }}</strong></h5>
      <p class="card-text">{{ customer_num.contact }}<br/>{{ customer_num.email }}<br/></p>
    </div>
</div>
<br/>
<a href="{% url 'home' %}" class="btn btn-primary"> Home </a>
<a href="{% url 'delete_CustomerDetails' customer_num.id %}" class="btn btn-danger"> Delete </a>
<a href="{% url 'update_CustomerDetails' customer_num.id %}" class="btn btn-primary"> Update Record </a>
<br/>

<div style="margin-top: 20px;">
<table class="table table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th scope="col">Order#</th>
        <th scope="col">Status</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
    {% for order_Detail in order_Details %}
        <tr>
            <td><a href="{% url 'order_Details' order_Detail.id %}">{{ order_Detail.id }}</a></td>
            <td><a class="btn btn-sm btn-info" href="">{{ order_Detail.status }}</a></td>
            <td>{{ order_Detail.created_at }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}
