{% load static %}
{% load i18n %} 
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'Images/download.png' %}" height="50" alt="Home">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="btn btn-outline-light me-2" href="{% url 'logout' %}">{% trans "Logout" %}</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="btn btn-outline-light me-2" href="{% url 'home' %}">{% trans "Home" %}</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="btn btn-outline-light me-2" href="{% url 'add_CustomerDetails' %}">{% trans "Add Customer" %}</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-light me-2" href="{% url 'about' %}">{% trans "About" %}</a>
                </li>
            </ul>
            <div class="d-flex ms-auto">
                <a href="{% url 'increase_font_size' %}" class="btn btn-outline-light me-2">A+</a>
                <a href="{% url 'decrease_font_size' %}" class="btn btn-outline-light me-4">A-</a>       
            </div>
            <div class="navbar-right">
                <div class="nav-item dropdown">
                    <a class="btn btn-outline-light dropdown-toggle me-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span role="img" aria-label="Brightness" class="me-2">&#x1F506;</span> <!-- Brightness symbol -->
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'switch_theme' 'light' %}" class="btn btn-outline-dark">{% trans "Light" %}</a>
                        <li><a class="dropdown-item" href="{% url 'switch_theme' 'dark' %}" class="btn btn-outline-dark">{% trans "Dark" %}</a>
                    </ul>
                </div>
            </div>
            <button id="speakButton" class="btn btn-outline-light me-2">{% trans "Speak" %}</button>
            <div class="navbar-right">
                <div class="nav-item dropdown">
                    <a class="btn btn-outline-light dropdown-toggle me-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {% trans "Language" %}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item {% if LANGUAGE_CODE == 'en-us' %} active {% endif %}" href="{% url 'switch_language' %}?language=en-us&next={{ request.path }}">{% trans "English" %}</a></li>
                        <li><a class="dropdown-item {% if LANGUAGE_CODE == 'de' %} active {% endif %}" href="{% url 'switch_language' %}?language=de&next={{ request.path }}">{% trans "German" %}</a></li>
                    </ul>                    
                </div>
            </div>            
            <form method="GET" action="{% url 'home' %}" class="d-flex">
                <input type="text" name="order_id" class="form-control me-2" placeholder="{% trans 'Search Order ID' %}" style="max-width: 300px;">
                <button type="submit" class="btn btn-primary">{% trans "Search" %}</button>
            </form>
        </div>
    </div>
</nav>
