{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'Images/download.png' %}" height="50" alt="Home">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add_CustomerDetails' %}">Add Customer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
            </ul>
            <div class="d-flex ms-auto">
                <a href="{% url 'switch_theme' 'light' %}" class="btn btn-outline-light me-2">Light</a>
                <a href="{% url 'switch_theme' 'dark' %}" class="btn btn-outline-light me-4">Dark</a>
                <a href="{% url 'increase_font_size' %}" class="btn btn-outline-light me-2">A+</a>
                <a href="{% url 'decrease_font_size' %}" class="btn btn-outline-light me-4">A-</a>
            </div>
            <button id="speakButton" class="btn btn-outline-light me-2">Speak</button>
            <form method="GET" action="{% url 'home' %}" class="d-flex">
                <input type="text" name="order_id" class="form-control me-2" placeholder="Search Order ID" style="max-width: 300px;">
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>
</nav>
