{% extends 'base.html' %}
{% block content %}
<h1 class="text-center">Order Details</h1>
<br/>

<div class="box">
    <h3>Customer: {{ customer.first_name }} {{ customer.last_name }}</h3>
    
    <br/>
</div>
<br/>
<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ orders.description }}</td>
            <td>{{ orders.status }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}



